[submodule "external/Recorder"]
	path = external/Recorder
	url = git@github.com:hariharan-devarajan/Recorder.git
	branch = pilgrim
[submodule "external/cpp-logger"]
	path = external/cpp-logger
	url = git@github.com:hariharan-devarajan/cpp-logger.git
