[submodule "tools/lib/backward-cpp"]
	path = tools/lib/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "tools/lib/cpp-logger"]
	path = tools/lib/cpp-logger
	url = https://github.com/hariharan-devarajan/cpp-logger.git
[submodule "tools/lib/recorder"]
	path = tools/lib/recorder
	url = https://github.com/uiuc-hpc/Recorder.git
