[submodule "converter/lib/Recorder"]
	path = converter/lib/Recorder
	url = git@github.com:hariharan-devarajan/Recorder.git
	branch = pilgrim
[submodule "converter/lib/cpp-logger"]
	path = converter/lib/cpp-logger
	url = git@github.com:hariharan-devarajan/cpp-logger.git
