# click==8.0.4
darshan>=3.4
dask>=2023.9.0
dask_jobqueue==0.8.2
distributed>=2023.9.0
# fastparquet>=2023.10.0
inflect==7.0
jinja2>=3.0
numpy==1.24.3
matplotlib==3.2.1
pandas>=2.1
# panel
portion
# pyarrow>=13.0.0
pyyaml
rich==13.6.0
scikit-build>=0.17
scikit-learn>=1.4
scipy>=1.10.0
venn